[submodule "Source/Box2d"]
	path = Source/Box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Source/Freetype"]
	path = Source/Freetype
	url = https://github.com/freetype/freetype.git
[submodule "Source/glslang"]
	path = Source/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Source/SPIRV-Cross"]
	path = Source/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "Source/Stb"]
	path = Source/Stb
	url = https://github.com/nothings/stb.git
[submodule "Source/VulkanMemoryAllocator"]
	path = Source/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Source/PortableFileDialogs"]
	path = Source/PortableFileDialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "Source/Slang"]
	path = Source/Slang
	url = https://github.com/shader-slang/slang.git
