[submodule "source/Box2d"]
	path = source/Box2d
	url = https://github.com/erincatto/box2d.git
[submodule "source/Freetype"]
	path = source/Freetype
	url = https://github.com/freetype/freetype.git
[submodule "source/Stb"]
	path = source/Stb
	url = https://github.com/nothings/stb.git
[submodule "source/VulkanMemoryAllocator"]
	path = source/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "source/PortableFileDialogs"]
	path = source/PortableFileDialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "source/Slang"]
	path = source/Slang
	url = https://github.com/shader-slang/slang.git
[submodule "source/Gtest"]
	path = source/Gtest
	url = https://github.com/google/googletest.git
[submodule "source/WindowsHModular"]
	path = source/WindowsHModular
	url = https://github.com/Leandros/WindowsHModular.git
[submodule "source/Fmt"]
	path = source/Fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "source/Benchmark"]
	path = source/Benchmark
	url = https://github.com/google/benchmark
[submodule "source/VulkanLoader"]
	path = source/VulkanLoader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "source/VulkanHeaders"]
	path = source/VulkanHeaders
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "source/VulkanValidationLayers"]
	path = source/VulkanValidationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers
[submodule "source/SpirvHeaders"]
	path = source/SpirvHeaders
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "source/SpirvTools"]
	path = source/SpirvTools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "source/VulkanUtilityLibraries"]
	path = source/VulkanUtilityLibraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries
[submodule "source/EnkiTS"]
	path = source/EnkiTS
	url = https://github.com/dougbinks/enkiTS.git
